* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

header {
  background-color: #fff8f3;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 230px;
  padding: 30px 0;
}

.nav-title {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}

.nav-title-orrange {
  color: #fd6e0a;
}

.nav-list {
  display: flex;
  list-style: none;
  align-items: center;
}

.nav-list li {
  margin-left: 20px;
}

.nav-list a {
  text-decoration: none;
  color: #474747;
  font-size: 20px;
}

.btn-primary {
  border-radius: 5px;
  background: #fd6e0a;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  border: none;
  padding: 18px 35px;
}

/* HEADER SECTION */

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px 0px 200px;
  background-image: url(images/header_bg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}

.banner-column1 {
  max-width: 600px;
}

.banner img {
  width: 500px;
  padding-right: 60px;
}

.banner-greetings {
  color: #474747;
  font-size: 45px;
  font-weight: 600;
}

.banner-name {
  color: #181818;
  font-size: 85px;
  font-weight: 700;
}

.banner-description {
  color: #757575;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  width: 585px;
  padding-bottom: 30px;
  padding-top: 20px;
}

.banner button {
  margin-right: 40px;
}

.banner .contact-btn {
  border-radius: 5px;
  color: #fd6e0a;
  background-color: #fff;
  font-size: 20px;
  font-weight: 700;
  border: 1px solid #fd6e0a;
  padding: 18px 35px;
}

/* ABOUT SECTION */

.primary-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}

.about-section {
  width: 1140px;
  margin: 150px auto;
  border-radius: 10px;
  background: #fff8f3;
  padding: 130px 200px;
}

.primary-description {
  color: #757575;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding: 30px 0;
}

.about-info-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about-info-container {
  text-align: center;
}

.about-info-title {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.about-info {
  color: #474747;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}

/* WHAT I DO SECTION */

.what-section {
  width: 1140px;
  margin: 150px auto;
}

.what-subsection {
  display: flex;
  gap: 10px;
}

.what-subsection-container {
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  padding: 30px;
}

.what-subsection-container h2 {
  color: #181818;
  font-size: 20px;
  font-weight: 700;
  padding: 20px 0;
}

.what-subsection-container p {
  color: #757575;
  line-height: 28px;
  font-size: 16px;
  font-weight: 400;
}

/* MY RESUME */
.resume-section {
  width: 1140px;
  margin: 150px auto;
}
.resume-column {
  display: flex;
  gap: 80px;
  margin: 80px 0px;
}
.resume-title {
  color: #474747;
  font-size: 30px;
  font-weight: 700;
}

.resume-degree {
  color: #474747;
  font-size: 25px;
  font-weight: 700;
  padding-top: 30px;
}

.resume-institute {
  color: #757575;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 20px;
}

.resume-column p {
  color: #757575;
  font-size: 16px;
  line-height: 28px;
  width: 511px;
}
